/* begin less functions */
/* end less functions */
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  background-color: #fff;
}
b {
  font-size: 110%;
}
em {
  color: red;
}
header {
  /* GRADIENTS */

  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#3f3f3f));
  /* Chrome,Safari4+ */

  background: -moz-linear-gradient(top, #282828, #3f3f3f);
  /* FF3.6+ */
  background: -o-linear-gradient(top, #282828 80%, #3f3f3f 80%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #282828 80%, #3f3f3f 80%);
  /* IE10+ */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=@from, endColorstr=@to, GradientType=1)";
  /* IE8+ */

  /* END GRADIENTS */

  height: 80px;
  /*Height of top section*/

  margin-bottom: 0px;
}
header h1 {
  margin: 0;
  padding-top: 15px;
  color: #fff;
  text-shadow: 1px 0 0.2em #000;
}
nav#mainnav {
  position: relative;
  height: 40px;
  top: 10px;
  /* GRADIENTS */

  background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#9c9c9c));
  /* Chrome,Safari4+ */

  background: -moz-linear-gradient(top, #dfdfdf, #9c9c9c);
  /* FF3.6+ */
  background: -o-linear-gradient(top, #dfdfdf 80%, #9c9c9c 80%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #dfdfdf 80%, #9c9c9c 80%);
  /* IE10+ */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=@from, endColorstr=@to, GradientType=1)";
  /* IE8+ */

  /* END GRADIENTS */

  margin: 0px;
  padding: 5px;
  font-size: 1.5em;
  border-top: 1px solid #6f6f6f;
  border-bottom: 1px solid #6f6f6f;
  /* BOX SHADOW */

  -moz-box-shadow: 0 2px 4px #9c9c9c;
  -webkit-box-shadow: 0 2px 4px #9c9c9c;
  box-shadow: 0 2px 4px #9c9c9c;
  /* END BOX SHADOW */

}
nav#mainnav ul li {
  display: inline-block;
  margin-right: 1.3em;
}
nav#mainnav ul li a {
  text-decoration: none;
  color: #eeeeee;
  text-shadow: 1px 1px 0.2em #000;
}
nav#mainnav ul li a:hover {
  color: #fff;
}
nav#mainnav ul#main {
  position: absolute;
  left: 20px;
  top: 10px;
  list-style-type: none;
}
nav#mainnav ul#aux {
  position: absolute;
  right: 20px;
  top: 10px;
  list-style-type: none;
}
nav#bottomnav {
  font-size: 1.2em;
  height: 30px;
  padding: 5px;
}
nav#bottomnav ul {
  list-style-type: none;
}
nav#bottomnav ul li {
  display: inline-block;
  margin-right: 1em;
}
nav#bottomnav ul li a {
  color: #7f7f7f;
}
#left-menu {
  margin-top: 20px;
  margin-left: 20px;
}
#breadcrumbs {
  background-color: #505050;
  height: 35px;
  width: 100%;
}
#contentwrapper {
  float: left;
  width: 100%;
}
#grid {
  margin-top: 20px;
  height: 900px;
  border: 1px solid #6f6f6f;
}
#contentcolumn {
  margin: 0 199px 0 230px;
  /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/

}
#leftcolumn {
  float: left;
  width: 230px;
  /*Width of left column*/

  min-height: 700px;
  margin-left: -100%;
  overflow: auto;
  border-right: 1px solid #6f6f6f;
}
#rightcolumn {
  float: left;
  width: 198px;
  /*Width of right column*/

  min-height: 700px;
  margin-left: -200px;
  /*Set left marginto -(RightColumnWidth)*/
  voerflow: auto;
  border-left: 1px solid #6f6f6f;
}
footer {
  clear: left;
  width: 100%;
  border-top: 1px solid #6f6f6f;
  text-align: center;
  padding: 4px 0;
}
footer a {
  text-decoration: none;
  color: #d1d1d1;
}
footer a:hover {
  color: #fff;
}
.inner {
  margin: 10px;
  /*Margins for inner DIV inside each column (to provide padding)*/

  margin-top: 0;
}
